.header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
/* 
    .nav-link{
        border: none;
        border-radius: 5px;
        color: #fff;
        background-color: #2c3e50;
    }

    .nav-link:hover{
        border: none;
        border-radius: 5px;
        color: #fff;
        background-color: green;
    } */

    /* Add spacing between the nav items */
.navbar-nav {
    list-style: none;
    padding-left: 0;
    display: flex; /* Makes the items display in a row */
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Adds space between each item */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.nav-link {
    text-decoration: none;
    /* color: #000; */
    font-size: 16px;
    cursor: pointer;
}

.nav-link:hover {
    color: #2c3e50; /* Change color on hover */
}


    .Headertoggler {
        border: none;
        border-radius: 25px;
        font-size: 1.2rem;
    }

    .HeaderTogglerButton{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .Headertoggler :hover {
        border: none;
        border-radius: 25px;
        font-size: 1.2rem;
        background-color: yellow;
        color: #fff;
    } 
}