.sidebar-container {
  position: relative;
}

.sidebar {
  position: fixed; /* Sidebar stays fixed on the page */
  top: 18%;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100vh; /* Full height, even during scrolling */
  background-color: #2c3e50;
  color: #fff;
  transition: 0.3s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  left: 0; /* Slide in */
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #34495e;
}

.sidebar-menu li:hover {
  background-color: #34495e;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
}

.menu-btn {
  position: fixed;
  top: 18%;
  left: 15px;
  background: none;
  border: none;
  color: #2c3e50;
  font-size: 30px;
  cursor: pointer;
  z-index: 1100;
}

.overlay {
  position: fixed;
  top: 18%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 900;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.pin-sidebar {
  padding: 10px 20px;
  color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
